body{
    background: #2c2c2b;
    color: #e67575;
}

h1{
    color:#e67575;
    text-align: center;
}

fieldset{
    border-radius: 10px;
     margin:auto;
    background-color:#4a4a47;
}

div.main fieldset{
	color:#d4d4d4;
    border-radius: 10px;
     width: 1000px;
     margin:auto;
    background-color:#4a4a47;
}

a {
    color:#00ffee;
}

div.down p {
	color:#545454
}

div.up fieldset {
	height:40px;
}
