body{
    background: #2c2c2b;
    color: #e67575;
}

h1{
    color:#e67575;
    text-align: center;
}

fieldset{
    border-radius: 10px;
     width: 200px;
     margin:auto;
    background-color:#4a4a47;
}

div.main fieldset{
    border-radius: 10px;
     width: 400px;
     margin:auto;
    background-color:#4a4a47;
}

a {
    color:#00ffee;
}

